:root {
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);

  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --drak-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow Semi Condensed', sans-serif;
  /* weight 500, 600, size 13 */
}

h2,
p {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  margin-bottom: 70px;
}

.post {
  background-color: var(--drak-blue);
  border-radius: 10px;
  margin: 15px 30px;
  padding: 30px;
  color: var(--grey-200);
  box-shadow: 15px 0 25px 10px var(--grey-200);
  min-width: 150px;
}

.pattern {
  display: none;
}

.profile-info {
  display: flex;
  align-items: center;
  /* height: auto; */
  margin-bottom: 20px;

}

.profile-info>img {
  height: 27px;
  border-radius: 50%;
  border: 2px solid var(--grey-200);
  margin-right: 20px;
}

.profile-name {
  font-size: 0.85em;
  margin-bottom: 5px;
  font-weight: 500;
}

.profile-profession {
  font-size: 0.7em;
}

.post-header {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.post-text {
  font-size: 0.8em;
  line-height: 1.5;
}

#daniel {
  background-color: var(--purple-500);
  color: var(--white);
}

#daniel .profile-info img {
  border-color: var(--purple-300);
}

#jonathan {
  background-color: var(--grey-500);
  color: var(--white);
}

#patrick .profile-info img {
  border-color: var(--purple-500);
}

#jeanette,
#kira {
  background-color: var(--white);
  color: var(--grey-500);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 900px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  main {
    display: grid;
    grid-template:
      'post1 post1 post2 post5'
      'post3 post4 post4 post5';
    margin: auto;
    gap: 30px;
  }

  .post {
    margin: 0;
  }

  .pattern {
    display: inline;
    position: absolute;
    right: 60px;
    top: 0;
    height: 108px;
    z-index: 0;
  }

  #daniel {
    position: relative;
    grid-area: post1;
    max-width: 460px;
  }

  #daniel .post-header {
    position: relative;
    z-index: 1;
  }

  #jonathan {
    grid-area: post2;
    max-width: 180px;
  }

  #jeanette {
    grid-area: post3;
    max-width: 180px;

  }

  #patrick {
    grid-area: post4;
    max-width: 460px;
  }

  #kira {
    grid-area: post5;
    max-width: 195px;
  }
}